    <div class="jumbotron">
        <h1> Aplicação de Criptmoedas </h1>
    </div>

    <nav class="navbar bg-light">
        <div class="container-fluid">
            <%= link_to "Usuários", users_path, class: "navbar-brand" %>

            <%= link_to "Moedas", coins_path, class: "navbar-brand" %>

            <%= link_to "Tipos de Mineração", mining_types_path, class: "navbar-brand" %>
        </div>
    </nav>