
    <div class="jumbotron">
        <h1>Aplicação de Criptomoedas</h1>
    </div>

    <nav class="navbar bg-light">
        <div class="container-fluid">
            <ul class='nav-menu'>
                <li> <%= link_to "Cadastro de Clientes", customers_path, class: "navbar-brand" %> </li>
                <li> <%= link_to "Moedas", coins_path, class: "navbar-brand" %> </li>
            </ul>
        </div>
    </nav>