
    <div class="jumbotron">
        <h1> Aplicação de Criptmoedas </h1>
    </div>

    <nav class="navbar bg-light">
        <div class="container-fluid">
            <%= link_to "Moedas", coins_path, class: "navbar-brand" %>
        </div>
    </nav>